{% extends "repo/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div id="header">
<h2>{{ title }}</h1>

<p>Path: {{ path }}</p>

<p>URI: {{ uri }}</p>
</div>

{% if binary %}
    <div id="binary">
        {% if image %}
          <img src="{{ binary }}" />
        {% else %}
          <a href="{{ binary }}">Download</a>
        {% endif %}
    </div>
{% endif %}
      
{% if rdf %}
    <div id="rdf">
    {% for namespace, values in rdf.items %}
        {% include "repo/namespaces/base.html" with namespace=namespace values=values %}
    {% endfor %}
    </div> 
{% endif %}

{% endblock %}